<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RoomManagementUI.Properties.Settings.RoomManagementConnectionString"
            connectionString="Data Source=np:\\.\pipe\LOCALDB#C0942EDA\tsql\query;Initial Catalog=RoomManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RoomManagment" connectionString="np:\\.\pipe\LOCALDB#C0942EDA\tsql\query;Initial Catalog=RoomManagement;Integrated Security=True"/>      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

</configuration>